<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PHP" path="*.php" verb="*" modules="FastCgiModule" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Server=db.internal.secureapp.com;Database=secureapp_prod;User Id=app_user;Password=P@ssw0rd123!SecureDB;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ApiKey" value="sk_live_abc123xyz789" />
    <add key="SecretKey" value="secret_key_do_not_share_123" />
  </appSettings>
</configuration>
